#container {
    display: inline-flex;
    justify-content: center;
    justify-content: space-between;
    background-color: teal;
    padding: 5px;
}

a {
    text-decoration: none;
    color: white;
    font-size: 25px;
}
